@import 'nullstyle.scss';
@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Semibold.eot');
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('/fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('/fonts/Gilroy-Semibold.woff') format('woff'),
        url('/fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('/fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy-Medium.woff2') format('woff2'),
        url('/fonts/Gilroy-Medium.woff') format('woff'),
        url('/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('/fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy-Bold.woff2') format('woff2'),
        url('/fonts/Gilroy-Bold.woff') format('woff'),
        url('/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('/fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy-Regular.woff2') format('woff2'),
        url('/fonts/Gilroy-Regular.woff') format('woff'),
        url('/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    height: 100%;
    font-family: 'Gilroy';
    color: #070707;
    font-weight: 500;
    background-color: #FAFAFA;
}
.wrapper{
    overflow: hidden;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 943px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}
._ibg{
    position: relative;
    img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}


.title {
    font-size: 34px;
    line-height: calc(42 / 34 * 100%);
    text-align: center;
    color: #070707;
    font-weight: 800;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    .header__container {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #828282;;
        min-height: 90px;
        @media (max-width:469px){
            min-height: 70px;
        };
        .header__logo {
            font-family: 'Gilroy';
            font-weight: 800;
            font-size: 18px;
            line-height: calc(22 / 18 * 100%);
            color: inherit;
        }
        .header__menu {
            @media (max-width:992px){
                margin-left: 40px;
            };
            @media (max-width:569px){
                margin-left: 40px;
            };
            margin-left: 155px;
        }
        .menu {
            padding: 5px 0;
            .menu__list {
                display: flex;
                flex-wrap: wrap;
                & >*:not(:last-child){margin-right: 155px; @media (max-width:992px){
                    margin-right: 60px;
                };@media (max-width:469px){margin-bottom: 5px;};@media (max-width:569px){
                    margin-right: 40px;
                };@media (max-width:510px){margin-right: 0}}
                .list__item {
                    @media (max-width:510px){flex: 0 1 50%;}
                    .menu__link{
                        font-weight: 800;
                        font-size: 18px;
                        line-height: calc(22 / 18 * 100%);
                        color: #828282;
                    }
                }
            }
        }
    }
}

.page__about {
    background: #F6F6F6;
    padding: 120px 0 107px 0;
    .about__container {
        .title{margin-bottom: 18px;}
        .about__content {
            width: 485px;
            margin: 0 auto;
            &>*:not(:last-child){margin-bottom: 40px;}
            .contant__item {
                font-size: 18px;
                line-height: calc(22 / 18 * 100%);
                text-align: center;
                color: #070707;
                font-weight: 600;
            }
        }
    }
}

.skills {
    padding-top: 91px;
    .skills__container {
        
        .title{margin-bottom: 69px;}
        .subtitle {
            font-size: 18px;
            line-height: calc(22 / 18 * 100%);
            text-align: center;
            margin-bottom: 84px;
        }
        .skills__content {
            display: flex;
            & > *:not(:last-child){margin-right: 90px;}
            .skills__column {
                flex: 0 1 25%;
                .skills__item {
                    text-align: center;
                    .skills__icon {
                        margin-bottom: 25px;
                    }
                    .skills__text{
                        margin-bottom: 40px;
                        font-size: 14px;
                        line-height: calc(17 / 14 * 100%);
                        text-align: center;
                        color: #828282;
                        font-size: bold;
                    }
                    .skills__estimation {

                        .estimation__item {

                        }
                    }
                }
            }
        }
    }
}
.link {
    color: black !important;
}

//showcase
.swowcase {
    // display: flex;
    width: 100%;
}
.swowcase-top {
    // position: relative;
    display: flex;
    align-items: center;
    padding: 30px 0px;
    width: 100%;
    height: 300px;
    justify-content: space-between;
		&__name {
            font-size: 47.3392px;
            line-height: calc(59px / 47px *100%);
            font-weight: 700;
            word-wrap: break-word;
		}
		&__adres {
            font-size: 18px;
            line-height: calc(22px / 18px *100%);
            font-weight: 600;
		}

		&__lang {
            display: flex;  
            margin-right: -23px;
            flex: 0 1 20px;
            flex-wrap:nowrap;
            align-items: flex-end;
            font-size: 16px;
            line-height: calc(20px / 16px *100%);
            font-weight: 700;
            transform: rotate(-90deg);
            white-space: nowrap;
            box-sizing: content-box;
            a {               
                color: #828282;
            }
		}
}
.swowcase-botom {
    width: 100%;
    background: url('/img/showcase.png') center center/cover no-repeat;
    height: 340px;
}